In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
#ранжированный ряд
df=pd.read_csv('Выборка Блохина.csv', delimiter=';')
df_price=sorted(df["pizzaPrice_rupiah"])

#вариационный ряд
count=1
m = [] #абсолютные частоты
x=[] #варианты
p=[] #относительные частоты

len_df=len(df_price)

for i in range(1,len_df):
    if df_price[i]==df_price[i-1]:
        count+=1
    else:
        x.append(df_price[i-1])
        m.append(count)
        p.append(count/len_df)
        count=1     
x.append(df_price[i])
if len(x)!=len(m):
    p.append(count/len_df)
    m.append(count)


print("x    " ,x,'\n')
print("m    " ,m,'\n')
print("p    " ,p,'\n')

list = {'x':x,
        'm':m,'p':p}
tab=pd.DataFrame(list)
# интервальный ряд
x_min=df_price[0]
x_max=df_price[len_df-1]
R=x_max-x_min #размах выборки

k=math.floor(1+3.322*math.floor(math.log10(len_df))) #число интервалов по ф. Стёрджесса
h=R/k #длина интервалов
x0=x_min-h/2
interval=[]
for i in range (-1,k+1):
    interval.append(x0)
    x0+=h
print(interval)

j=0
count=0
m_interval=[]
p_interval=[]
for i in range(0,len(interval)-2):
    while x[j]>interval[i] and x[j]<=interval[i+1]:
        count+=m[j]
        j+=1
    m_interval.append(count)
    p_interval.append(count/len_df)
    count=0
print(j, len(interval))
if len(interval)-1!=len(m_interval):
    while(len(x)!=j):
        count+=m[j]
        j+=1
    p_interval.append(count/len_df)
    m_interval.append(count)  
m_interval

x     [23.5, 28.0, 31.0, 32.0, 33.0, 35.0, 39.0, 44.0, 46.0, 49.0, 51.0, 54.0, 60.0, 69.0, 70.0, 72.0, 75.0, 76.0, 78.0, 83.0, 84.0, 90.0, 92.0, 93.0, 96.0, 98.0, 99.0, 105.0, 110.0, 114.0, 115.0, 119.0, 120.0, 123.0, 126.0, 140.0, 149.0, 155.0, 188.0, 198.0, 230.0, 235.0, 248.0]

m     [3, 1, 3, 1, 2, 3, 3, 2, 6, 4, 1, 1, 3, 3, 4, 9, 4, 2, 2, 4, 1, 8, 1, 3, 4, 3, 3, 2, 4, 2, 3, 1, 1, 2, 1, 4, 4, 1, 2, 1, 2, 1, 1]

p     [0.02586206896551724, 0.008620689655172414, 0.02586206896551724, 0.008620689655172414, 0.017241379310344827, 0.02586206896551724, 0.02586206896551724, 0.017241379310344827, 0.05172413793103448, 0.034482758620689655, 0.008620689655172414, 0.008620689655172414, 0.02586206896551724, 0.02586206896551724, 0.034482758620689655, 0.07758620689655173, 0.034482758620689655, 0.017241379310344827, 0.017241379310344827, 0.034482758620689655, 0.008620689655172414, 0.06896551724137931, 0.008620689655172414, 0.02586206896551724, 0.034482758620689655, 0.02586206896551724, 0.02586206896551724, 0.017241379310344827, 0.034482758620689655, 0.017241379310344827, 0.02586206896551724, 0.008620689655172414, 0.008620689655172414, 0.017241379310344827, 0.008620689655172414, 0.034482758620689655, 0.034482758620689655, 0.008620689655172414, 0.017241379310344827, 0.008620689655172414, 0.017241379310344827, 0.008620689655172414, 0.008620689655172414]

[7.464285714285715, 39.535714285714285, 71.60714285714286, 103.67857142857143, 135.75, 167.82142857142856, 199.8928571428571, 231.96428571428567, 264.0357142857142]
41 9

[16, 24, 44, 16, 9, 3, 2, 2]

In [3]:
#середины интервалов
mid_interval=[]
for i in range(0,len(interval)-1):
    mid_interval.append((interval[i]+interval[i+1])/2)
print(mid_interval)

[23.5, 55.57142857142857, 87.64285714285714, 119.71428571428572, 151.78571428571428, 183.85714285714283, 215.9285714285714, 247.99999999999994]

In [4]:
list = {'nachalo':['7.464285714285715','39.535714285714285', '71.60714285714286', '103.67857142857143', '135.75', '167.82142857142856', '199.8928571428571', '231.96428571428567'],
        'konec':['39.535714285714285', '71.60714285714286', '103.67857142857143', '135.75', '167.82142857142856', '199.8928571428571', '231.96428571428567','264.0357142857142'],'m_interval':m_interval,'p_interval': p_interval,
       'mid_interval':mid_interval}
tab=pd.DataFrame(list)
tab

,nachalo,konec,m_interval,p_interval,mid_interval
0,7.464285714285715,39.535714285714285,16,0.137931,23.500000
1,39.535714285714285,71.60714285714286,24,0.206897,55.571429
2,71.60714285714286,103.67857142857143,44,0.379310,87.642857
3,103.67857142857143,135.75,16,0.137931,119.714286
4,135.75,167.82142857142856,9,0.077586,151.785714
5,167.82142857142856,199.8928571428571,3,0.025862,183.857143
6,199.8928571428571,231.96428571428567,2,0.017241,215.928571
7,231.96428571428567,264.0357142857142,2,0.017241,248.000000

In [5]:
#накопленные частоты
count_p=0
count_m=0
countM=[]
countP=[]
for i in range(0,len(m_interval)):
    count_m+=m_interval[i]
    count_p+=p_interval[i]
    countM.append(count_m)
    countP.append(count_p)
print(countM)
print(countP)

[16, 40, 84, 100, 109, 112, 114, 116]
[0.13793103448275862, 0.3448275862068966, 0.7241379310344828, 0.8620689655172413, 0.939655172413793, 0.9655172413793103, 0.9827586206896551, 1.0]

In [18]:
tab['countM']=countM
tab['countP']=countP

In [6]:
#условные варианты
len_mid=len(mid_interval)
C=mid_interval[math.floor(len_mid/2)-1]
u=[]
for i in range(0, len_mid):
    u.append(round((mid_interval[i]-C)/h))
print(u)

[-3, -2, -1, 0, 1, 2, 3, 4]

In [20]:
tab

,nachalo,konec,m_interval,p_interval,mid_interval,u,countM,countP
0,7.464285714285715,39.535714285714285,16,0.137931,23.500000,-3,16,0.137931
1,39.535714285714285,71.60714285714286,24,0.206897,55.571429,-2,40,0.344828
2,71.60714285714286,103.67857142857143,44,0.379310,87.642857,-1,84,0.724138
3,103.67857142857143,135.75,16,0.137931,119.714286,0,100,0.862069
4,135.75,167.82142857142856,9,0.077586,151.785714,1,109,0.939655
5,167.82142857142856,199.8928571428571,3,0.025862,183.857143,2,112,0.965517
6,199.8928571428571,231.96428571428567,2,0.017241,215.928571,3,114,0.982759
7,231.96428571428567,264.0357142857142,2,0.017241,248.000000,4,116,1.000000

In [8]:
#условные эмпирические моменты
Mk=[]
for i in range(1,5):
    k=0
    M=0
    while (k<len(u)):
        M+=p_interval[k]*(u[k]**i)
        k+=1
    Mk.append(M)
       
print(Mk)

[-0.9568965517241378, 3.0603448275862073, -3.9051724137931036, 21.163793103448278]

In [9]:
#центральные моменты через условные
M1=[]
M1.append(0)
M1.append((Mk[1]-Mk[0]**2)*h**2)
M1.append((Mk[2]-3*Mk[1]*Mk[0]+2*(Mk[0]**3))*h**3)
M1.append((Mk[3]-4*Mk[2]*Mk[0]+6*Mk[1]*(Mk[0]**2)-3*(Mk[0]**4))*h**4)
print(M1)

[0, 2205.9817253967585, 103178.33341849987, 21703619.244873997]

In [17]:
cen={'usl':Mk, 'cent':M1}
em=pd.DataFrame(cen)
em

         usl          cent
0  -0.956897  0.000000e+00
1   3.060345  2.205982e+03
2  -3.905172  1.031783e+05
3  21.163793  2.170362e+07

In [10]:
#выборочное среднее
x_v=0
for i in range(0, len(mid_interval)):
    x_v+=mid_interval[i]*p_interval[i]   
print('Стандартный способ  ',x_v)

U_v=0
for i in range(0, len_mid):
    U_v+=u[i]*p_interval[i]

x_uv=(((U_v)*h)+C)
print('Через условные варианты  ',x_uv)

Стандартный способ   89.0252463054187
Через условные варианты   89.02524630541873

In [11]:
#дисперсия
D1=0
for i in range(0, len_mid):
    D1+=((mid_interval[i]-x_v)**2)*p_interval[i]
print("с помощью стандартной формулы", D1) #с помощью стандартной формулы

D2=0
U2=0
U_b=0
for i in range(0, len_mid):
    U2+=(u[i]**2)*p_interval[i]
    U_b+=u[i]*p_interval[i]
D2=(h**2)*(U2-(U_b**2))
print('с помощью условных вариант', D2)# с помощью условных вариант

с помощью стандартной формулы 2205.981725396757
с помощью условных вариант 2205.9817253967585

In [12]:
#исправленные дисперсия и ско
sko=math.sqrt(M1[1])
print('СКО ',sko)

Ds=M1[1]*(len_mid/(len_mid-1))
print(Ds)
qs=math.sqrt(Ds)
print(qs)
print(Ds-M1[1])
sko-qs

СКО  46.96787972004653
2521.12197188201
50.21077545589203
315.1402464852513

-3.242895735845501

In [13]:
As=M1[2]/(sko**3)
Es=M1[3]/sko**4-3
print(As)
print(Es)

0.9958310033864437
1.4599330674149877

In [14]:
mi=max(m_interval)
index=0
while(m_interval[index]!=mi):
    index+=1
x_floor=interval[index]
pre_m=m_interval[index-1]
next_m=m_interval[index+1]
Moda=x_floor+((mi-pre_m)/((mi-pre_m)+(mi-next_m))*h)
print("Мода  ", Moda)

Мода   84.9702380952381

In [15]:
index=0
for i in range (8):
    if countP[i] <= 0.5:
        index +=1
pre_=interval[index]
next_=interval[index+1]
mediana = interval[index]+ (h/p_interval[index])*(0.5-countP[index-1])
print("Медиана  ",mediana)

Медиана   84.72727272727273

In [16]:
#коэффициент вариаций
V=sko/x_v*100
print(V)

52.75793291142822