In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [2]:
#ранжированный ряд
df=pd.read_csv('Выборка Блохина.csv', delimiter=';')
df_price=sorted(df["The diameter of pizza in inch"])
for eachline in df_price:
    print(eachline)

8.0
8.0
8.0
8.0
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
8.5
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
12.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
14.0
16.0
16.0
16.0
16.0
16.0
16.5
16.5
16.5
16.5
17.0
17.0
17.0
17.0
17.0
17.0
17.0
17.0
18.0
18.5
18.5
18.5
18.5
18.5
18.5
20.0
22.0
22.0
22.0

In [3]:
#вариационный ряд
count=1
m = [] #абсолютные частоты
x=[] #варианты
p=[] #относительные частоты

len_df=len(df_price)

for i in range(1,len_df):
    if df_price[i]==df_price[i-1]:
        count+=1
    else:
        x.append(df_price[i-1])
        m.append(count)
        p.append(count/len_df)
        count=1     
x.append(df_price[i])
if len(x)!=len(m):
    p.append(count/len_df)
    m.append(count)


print("x    " ,x,'\n')
print("m    " ,m,'\n')
print("p    " ,p,'\n')

list = {'x':x,
        'm':m,'p':p}
tab=pd.DataFrame(list)
tab

x     [8.0, 8.5, 12.0, 14.0, 16.0, 16.5, 17.0, 18.0, 18.5, 20.0, 22.0]

m     [4, 19, 43, 22, 5, 4, 8, 1, 6, 1, 3]

p     [0.034482758620689655, 0.16379310344827586, 0.3706896551724138, 0.1896551724137931, 0.04310344827586207, 0.034482758620689655, 0.06896551724137931, 0.008620689655172414, 0.05172413793103448, 0.008620689655172414, 0.02586206896551724]

       x   m         p
0    8.0   4  0.034483
1    8.5  19  0.163793
2   12.0  43  0.370690
3   14.0  22  0.189655
4   16.0   5  0.043103
5   16.5   4  0.034483
6   17.0   8  0.068966
7   18.0   1  0.008621
8   18.5   6  0.051724
9   20.0   1  0.008621
10  22.0   3  0.025862

In [4]:
# интервальный ряд
x_min=df_price[0]
x_max=df_price[len_df-1]
R=x_max-x_min #размах выборки

k=math.floor(1+3.322*math.floor(math.log10(len_df))) #число интервалов по ф. Стёрджесса
h=R/k #длина интервалов
x0=x_min-h/2
interval=[]
for i in range (-1,k+1):
    interval.append(x0)
    x0+=h
print(interval)

j=0
count=0
m_interval=[]
p_interval=[]
for i in range(0,len(interval)-2):
    while x[j]>interval[i] and x[j]<=interval[i+1]:
        count+=m[j]
        j+=1
    m_interval.append(count)
    p_interval.append(count/len_df)
    count=0
print(j, len(interval))
if len(interval)-1!=len(m_interval):
    while(len(x)!=j):
        count+=m[j]
        j+=1
    p_interval.append(count/len_df)
    m_interval.append(count)  

print("m_interval    " ,m_interval,'\n')
print("p_interval    " ,p_interval,'\n')

[7.0, 9.0, 11.0, 13.0, 15.0, 17.0, 19.0, 21.0, 23.0]
10 9
m_interval     [23, 0, 43, 22, 17, 7, 1, 3]

p_interval     [0.19827586206896552, 0.0, 0.3706896551724138, 0.1896551724137931, 0.14655172413793102, 0.0603448275862069, 0.008620689655172414, 0.02586206896551724]

In [5]:
mid_interval=[]
for i in range(0,len(interval)-1):
    mid_interval.append((interval[i]+interval[i+1])/2)
print(mid_interval)

[8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0]

In [6]:
list = {'nachalo':['7.464285714285715','39.535714285714285', '71.60714285714286', '103.67857142857143', '135.75', '167.82142857142856', '199.8928571428571', '231.96428571428567'],
        'konec':['39.535714285714285', '71.60714285714286', '103.67857142857143', '135.75', '167.82142857142856', '199.8928571428571', '231.96428571428567','264.0357142857142'],'m_interval':m_interval,'p_interval': p_interval,
       'mid_interval':mid_interval}
tab=pd.DataFrame(list)
tab

,nachalo,konec,m_interval,p_interval,mid_interval
0,7.464285714285715,39.535714285714285,23,0.198276,8.0
1,39.535714285714285,71.60714285714286,0,0.000000,10.0
2,71.60714285714286,103.67857142857143,43,0.370690,12.0
3,103.67857142857143,135.75,22,0.189655,14.0
4,135.75,167.82142857142856,17,0.146552,16.0
5,167.82142857142856,199.8928571428571,7,0.060345,18.0
6,199.8928571428571,231.96428571428567,1,0.008621,20.0
7,231.96428571428567,264.0357142857142,3,0.025862,22.0

In [7]:
count_p=0
count_m=0
countM=[]
countP=[]
for i in range(0,len(m_interval)):
    count_m+=m_interval[i]
    count_p+=p_interval[i]
    countM.append(count_m)
    countP.append(count_p)
print(countM)
print(countP)

[23, 23, 66, 88, 105, 112, 113, 116]
[0.19827586206896552, 0.19827586206896552, 0.5689655172413793, 0.7586206896551724, 0.9051724137931034, 0.9655172413793103, 0.9741379310344827, 0.9999999999999999]

In [8]:
x_v=0
msum=0
for i in range(0, len(mid_interval)):
    x_v+=mid_interval[i]*p_interval[i]   
print('Математическое ожидание  ',x_v)

Математическое ожидание   12.862068965517242

In [19]:
D1=0
for i in range(0, len(mid_interval)):
    D1+=((mid_interval[i]-x_v)**2)*p_interval[i]

print(D1)
Ds=D1*(116/115)
Ds

10.84304399524376

10.937331334332836

In [10]:
sko=math.sqrt(D1)
print(sko)

3.2928777680387347

In [11]:
len_mid=len(mid_interval)
C=mid_interval[math.floor(len_mid/2)-1]
u=[]
for i in range(0, len_mid):
    u.append(round((mid_interval[i]-C)/h))
print(u)

[-3, -2, -1, 0, 1, 2, 3, 4]

In [12]:
Mk=[]
for i in range(1,5):
    k=0
    M=0
    while (k<len(u)):
        M+=p_interval[k]*(u[k]**i)
        k+=1
    Mk.append(M)
       
print(Mk)

[-0.5689655172413793, 3.0344827586206895, -3.2068965517241397, 24.86206896551724]

In [13]:
#центральные моменты через условные
M1=[]
M1.append(0)
M1.append((Mk[1]-Mk[0]**2)*h**2)
M1.append((Mk[2]-3*Mk[1]*Mk[0]+2*(Mk[0]**3))*h**3)
M1.append((Mk[3]-4*Mk[2]*Mk[0]+6*Mk[1]*(Mk[0]**2)-3*(Mk[0]**4))*h**4)
print(M1)
q=math.sqrt(M1[1])
q

[0, 10.843043995243757, 12.83422854565581, 370.29113605483525]

3.292877768038734

In [14]:
As=M1[2]/(sko**3)
Es=M1[3]/sko**4-3
print(As)
print(Es)

0.3594536838811182
0.14949465981239607

In [15]:
tab['coutM']=countM
tab['coutP']=countP
tab

,nachalo,konec,m_interval,p_interval,mid_interval,coutM,coutP
0,7.464285714285715,39.535714285714285,23,0.198276,8.0,23,0.198276
1,39.535714285714285,71.60714285714286,0,0.000000,10.0,23,0.198276
2,71.60714285714286,103.67857142857143,43,0.370690,12.0,66,0.568966
3,103.67857142857143,135.75,22,0.189655,14.0,88,0.758621
4,135.75,167.82142857142856,17,0.146552,16.0,105,0.905172
5,167.82142857142856,199.8928571428571,7,0.060345,18.0,112,0.965517
6,199.8928571428571,231.96428571428567,1,0.008621,20.0,113,0.974138
7,231.96428571428567,264.0357142857142,3,0.025862,22.0,116,1.000000

In [16]:
mi=max(m_interval)
index=0
while(m_interval[index]!=mi):
    index+=1
x_floor=interval[index]
pre_m=m_interval[index-1]
next_m=m_interval[index+1]
Moda=x_floor+((mi-pre_m)/((mi-pre_m)+(mi-next_m))*h)
print("Мода  ", Moda)

Мода   12.34375

In [17]:
index=0
for i in range (8):
    if countP[i] <= 0.5:
        index +=1
pre_=interval[index]
next_=interval[index+1]
mediana = interval[index]+ (h/p_interval[index])*(0.5-countP[index-1])
print("Медиана  ",mediana)

Медиана   12.627906976744185

In [18]:
#коэффициент вариаций
V=sko/x_v*100
print(V)

25.60146253971134